/* LANDING */

.landing-div{
	height: 100%;
}

#landing{
	width: 960px;
	margin: 0 auto;
	min-height: 100%;

	a{
		color: #555;
	}

	#landing-header{
		font-family: opensans-Semibold;
		margin-top: 60px;
		height: 30px;

		div{
			float: right;
		}
		
		a{
			margin-right: 30px;
			font-weight: 600;
		    letter-spacing: 1px;
		    line-height: 1.75rem;

		    &:hover{
		    	color: @green;
		    	cursor: pointer;
		    }
		}

		.underline{
			border-bottom: 4px solid @green;
		    padding-bottom: 4px;
		}
	}

	#landing-presentation{
		
	}

	#landing-stats{
		
	}

	#landing-preview{
		
	}

	#landing-principles{
		
	}

	#landing-footer{
		
	}
}